/* Box sizing 규칙 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* margin 기본값 제거 */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* 기본 스타일 제거 */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 핵심 root 기본값 설정 */
html:focus-within {
  scroll-behavior: smooth;
}

/* 핵심 body 기본값 설정 */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* 클래스가 없는 a 요소는 기본 스타일을 가져옴, 문자의 가독성을 위함 */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* 이미지 작업을 좀 더 쉽게 해준다 */
img,
picture {
  max-width: 100%;
  display: block;
}

/* 폰트 상속(Inherit) */
input,
button,
textarea,
select {
  font: inherit;
}
